.charts {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  margin: 3rem 0 0 0;
  gap: 2rem;
  padding-bottom: 3rem;
  border-bottom: 2px dotted #c4c4c4;
  @media #{$large} {
    grid-template-columns: repeat(4, 1fr);
  }
  .refreshData {
    grid-column: span 20;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
    @media #{$large} {
      grid-column: span 4;
    }
  }
  &__icon {
    position: absolute;
    right: -1.5rem;
    top: -1.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 84px;
    box-shadow: 0px 0px 3px rgb(180, 180, 180);
    border-radius: 50%;
    width: 84px;
    span {
      position: relative;
      left: 18px;
      top: -5px;
    }
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    &__tipoDati {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      .title {
        @media #{$tablet} {
          display: none;
        }
      }
      span {
        display: inline-block;
        cursor: pointer;
        margin: 0 0.3rem;
        font-size: $size-dettaglio-label;
      }
    }
  }
}

.singleChart {
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: all 0.3s ease;
  align-items: center;
  @media #{$landscape} {
    padding: 0.5rem;
  }
  &.span_small {
    grid-column: span 5;
    @media #{$large} {
      grid-column: span 2;
    }

    @media #{$tablet} {
      grid-column: span 4;
    }
  }
  &.span_big {
    grid-column: span 10;
    padding: 1rem 1rem 1rem 0rem;
    min-height: 300px;
    @media #{$large} {
      grid-column: span 4;
    }
  }

  .chart {
    width: 100%;
    height: 100%;
  }
}

.gauge.radial-gauge {
  width: 100%;
}

.current {
  width: 230px;
  height: 230px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  &__dato {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    position: absolute;
    color: rgb(0, 0, 0);
    &__title {
      font-size: 0.7rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
      position: relative;
      top: -0.6rem;
    }
  }
}
.customTooltip {
  background-color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid #c4c4c4;
  .int {
    color: $green;
  }
  .ext {
    color: $red;
  }
  p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
  }
}
