.lista {
  &__listaItem {
    display: grid;
    grid-template-columns: 100px minmax(100px, 1.5fr) minmax(100px, 1fr) minmax(
        100px,
        1fr
      );

    column-gap: 10px;
    row-gap: 15px;
    justify-items: start;
    align-items: center;
    padding: 0.7rem 0.5rem;
    cursor: pointer;
    font-size: $size-list;
    background-color: white;
    transition: all ease-in-out 0.3s;
    @media #{$large} {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    @media #{$tablet} {
      grid-template-columns: 1fr 1fr 1fr 80px;
    }
    @media #{$phone} {
      grid-template-columns: 60px 1fr 1fr 20px;
      font-size: $size-list/1.4;
    }

    &__header {
      font-weight: 500;
      border-bottom: 1px solid;
      padding-bottom: 0.5rem;
      margin-bottom: 0.2rem;
      cursor: auto;

      &__stato {
        @media #{$tablet} {
          text-align: right;
          width: 100%;
        }
      }
      > div {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        gap: 3px;
        width: 100%;
        &:hover {
          .dataOrder {
            opacity: 1;
          }
        }
      }
    }
    &__active {
      background-color: $lightGrey;
    }
  }
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    margin-top: 0.5rem;
    @media #{$tablet} {
      margin: 1rem 0;
    }
    .subnav {
      display: flex;
      align-items: center;
      max-width: 350px;
      width: 100%;
      gap: 2rem;
    }
  }
}

.item-b {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  justify-self: center;
  align-self: center;
}
.listaNav {
  header {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 1.5rem;
    }
  }
  &__button {
    font-size: 1.7rem;
    top: 9px;
    margin-left: 0.3rem;
    position: relative;
    color: rgb(134, 134, 134);
  }
  &__size {
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0rem 0.5rem 0 0.5rem;
    input {
      width: 35px;
      text-align: center;
      border: 0;
      border-radius: 5px;
      background-color: $lightGrey;
      padding: 5px;
    }
  }
  &__parametriLista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem 0 0rem 0;
  }
}
.boxSwitch {
  display: flex;
  align-items: center;
  gap: 5px;
  span {
    font-size: 0.8rem;
  }
}
.switch {
  width: 70px;
  height: 30px;
  background-color: $lightGrey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #e4e4e4;
  padding: 5px;
  cursor: pointer;
}

.switch[data-ison="true"] {
  justify-content: flex-end;
  .handle {
    background-color: black;
    color: white;
  }
}

.handle {
  width: 25px;
  height: 25px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dataOrder {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  &__asc,
  &__desc {
    cursor: pointer;
    font-size: 1.2rem;
    height: 19px;
  }
}
